body {
    background-color: #f8f9fa;
    color: #343a40;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 2.5rem;
    color: #007bff;
}

.carousel-container {
    max-width: 600px; /* Ajusta el ancho del carrusel según tu preferencia */
    margin: 0 auto;
}

.carousel-item img {
    max-height: 300px; /* Ajusta la altura del carrusel según tu preferencia */
    object-fit: cover; /* Asegura que las imágenes mantengan su proporción */
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 450px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    width: 33.33%;
    padding-top: 33.33%; /* Mantiene la proporción cuadrada */
    position: relative;
    border: 2px solid #007bff;
    font-weight: 600;
    color: #007bff;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
    cursor: pointer;
}

td::after {
    content: '';
    display: block;
    padding-bottom: 100%; /* Mantiene la proporción cuadrada */
}

td span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    background-color: #ffffff;
    border-radius: 10px;
}

.modal-header {
    background-color: #007bff;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}
