body {
    background-image: url('fondo.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #88929c;
    font-family: 'Arial', sans-serif;
    min-height: 100vh; 
}

h1 {
    font-size: 2.5rem;
    color: #007bff;
}

.carousel-container {
    max-width: 600px; /* ancho del carrusel */
    margin: 0 auto;
}

.carousel-item img {
    max-height: 300px; /* altura carrrusel */
    object-fit: cover; /* proporcion de imagenes */
}
.carousel-inner img {
    filter: blur(1px); /* Desenfoque de las imagenes del carrusel */
}
.carousel-caption h5,
.carousel-caption p {
    color: #23015a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 450px;
    background: rgba(255, 255, 255, 0.8); /* fondo blanco semitransparente para el tablero */
    padding: 10px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    width: 33.33%;
    padding-top: 33.33%; /* mantiene la proporcion del tateti */
    position: relative;
    border: 2px solid #007bff;
    font-weight: 600;
    color: #007bff;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
    cursor: pointer;
}

td::after {
    content: '';
    display: block;
    padding-bottom: 100%; /* mantiene proporcion del tateti */
}

td span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    background-color: #ffffff;
    border-radius: 10px;
}

.modal-header {
    background-color: #007bff;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}
